[Desktop Entry]
Type=Application
Name=Telegram Desktop
Comment=Version oficial para escritorio de la aplicación de mensajería Telegram
Icon=telegram
Exec=~/.TelegramDesktop/Telegram
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/tg;
