[Desktop Entry]
Type=Application
Name=Stremio
Comment=Mira instantaneamente todo el contenido en vídeo que quieras en un solo lugar
Icon=multimedia-video-player
Exec=stremio
Categories=AudioVideo;Player;Video;TV;
